body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
}

header {
  background: #08807c;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 34px;
  color: #f2a5a5;
}

nav, .nav-links {
  margin-top: 15px;
}

nav a, .nav-links button {
  background: none;
  color: #432143;
  padding: 8px 15px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
}

nav a:hover, .nav-links button:hover {
  background-color: #1a73e8;
  color: #fff;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #5c95eb;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #cc0000;
}

section {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  gap: 10px;
}

form input, form select, form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  height: 100px;
  resize: vertical;
}

form button {
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #0f59b1;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul li h3 {
  margin-top: 0;
}

footer {
  background: #27713c;
  color: white;
  text-align: center;
  padding: 0.5 px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.profile-info {
  position: absolute;
  top: 20px;
  right: 120px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
